<html>
    <head>
        <title>All Stores</title>
    </head>
    <body>

        {% if stores is not empty %}
            <p>Here are all of the availalbe stores that sell shoes:</p>
            <ul>
                {% for store in stores %}
                <li><a href="/store/{{ store.getId }}">{{ store.getStoreName }}</a></li>
                {% endfor %}
            </ul>
        {% else %}
            <p>Currently, there are no stores that are selling shoes.</p>
        {% endif %}


        <form action='/add_stores' method='post'>
            <h2>Add a New Store</h2>

            <label for='store_name'><strong>Store Name:</strong></label>
            <input id='store_name' name='store_name' type='text' required>

            <button type='submit'>Add Store</button>
        </form>
        <br>

        
        <form action='/clear_stores' method='post'>
            <button type='submit'>Clear all stores</button>
        </form>
        <br>
        <br>
        <a href = '/'>Home</a>
    </body>
</html>
