<html>
    <head>
        <title>All Stores</title>
    </head>
    <body>

        {% if stores is not empty %}
            <p>Here are all of the availalbe stores that sell shoes:</p>
            <ul>
                {% for store in stores %}
                <li><a href="/store/{{ store.getId }}">{{ store.getStoreName }}</li>
                {% endfor %}
            </ul>
        {% else %}
            <p>Currently, there are no stores that are selling shoes.</p>
        {% endif %}

        <form action='/add_stores' method='post'>

            <h2><strong>Store Name:</strong></h2>
            <label for='store_name'></label>
            <input id='store_name' name='store_name' type='text'>

            <button type='submit'>Add Store</button>
        </form>

        <a href = '/'>Home</a>
    </body>
</html>
