<html>
    <head>
        <title>All Stores</title>
    </head>
    <body>

        {% if brands is not empty %}
            <p>Here are all of the availalbe brands:</p>
            <ul>
                {% for brand in brands %}
                <li><a href="/brand/{{ brand.getId }}">{{ brand.getStoreName }}</li>
                {% endfor %}
            </ul>
        {% else %}
            <p>Currently, there are no shoe brands available.</p>
        {% endif %}

        <a href = '/'>Home</a>
    </body>
</html>
