<html>
    <head>
        <title>Home</title>
    </head>
    <body>
        <a href='all_stores'>View all stores</a>
        <br>
        <a href='all_brands'>View all brands</a>
    </body>
</html>
